@font-face {
  font-family: "Messapia";
  src: url("assets/Messapia-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: "DotGothic";
   src: url("assets/DotGothic16-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
 }

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  /* overflow: none; */
}

.title {
  font-family: "Messapia";
  font-size: 2rem;
  color: white;
}

.main-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(120, 120, 120);
}

#mainContainer2 {
   position: absolute;
   width: 100vw;
   height: 100vh;
   top: 0;
   left: 0;
   /* overflow: hidden; */
 }

#logo {
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -100%);
  z-index: 1;
}

#logo img {
  width: 100%;
  height: 100%;
}

.timeBox {
  font-family: "DotGothic";
  font-size: 2rem;
  color: rgb(165, 17, 17);
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, 90%);
}

.loadingVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.stillLoading {
   width: 100%;
   height: 100%;
}

.loaded {
   width: 100%;
   height: auto;
}

.loading {
   display: flex;
   position: absolute;
   top: 85%;
   left: 50%;
   transform: translate(-50%, -50%);
}


.a,
.b,
.c {
  width: 15px;
  height: 15px;
  margin: 10px;
  background-color: rgb(165, 17, 17);
}

.a {
  animation: anim1 1s linear infinite;
}

.b {
  animation: anim2 1s linear infinite;
}

.c {
  animation: anim3 1s linear infinite;
}

@keyframes anim1 {
  0%,
  50%,
  75%,
  100% {
    transform: scale(0.4);
  }
  25% {
    transform: scale(0.8);
  }
}

@keyframes anim2 {
  0%,
  25%,
  75%,
  100% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.8);
  }
}

@keyframes anim3 {
  0%,
  25%,
  50%,
  100% {
    transform: scale(0.4);
  }
  75% {
    transform: scale(0.8);
  }
}

button {
  /* background-color: rgba(165, 17, 17, 0.735); */
  background-color: rgb(134, 230, 129,0.735);
  z-index: 2;
  position: absolute;
  outline: none;
}

.enter {
  width: 8vw;
  color: rgb(120, 120, 120);
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "DotGothic";
}

.huh {
  font-family: "DotGothic";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(120, 120, 120);
  width: 2.5vw;
  height: 8vh;
  font-size: 2rem;
}


.el {
   width: 25vw;
   cursor: pointer;
  font-family: "Messapia";
  font-size: 1.2rem;
   color: rgb(134, 230, 129);
   display: flex;
   align-items: center;
   text-shadow: 2px 2px #ff000095;
}

.openInfo {
   width: 40vw;
   height: 45vh;
   /* background-color: rgb(0, 0, 0); */
   /* border-radius: 20px; */
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.close {
   display: none;
}

.invisible {
   opacity: 0;
}

.openInfo p {
   font-size: 0.9rem;
   font-family: "Messapia";
   font-weight: bold;
   /* color: rgb(17, 0, 128); */
   color: rgb(134, 230, 129,0.735);
   line-height: 1.7;
}

.slider{
   width: 100%;
   height: 25px; /* Specified height */
   background: #d3d3d3; /* Grey background */
   outline: none; /* Remove outline */
   opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
   -webkit-transition: .2s; /* 0.2 seconds transition on hover */
   transition: opacity .2s;
}

.sliderContainer {
   position: absolute;
   top: 47vh;
   left: -20vw;
   width: 50%;
   transform: rotate(90deg);
   z-index: 2;
}

 input[type=range]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
   appearance: none;
   width: 25px; /* Set a specific slider handle width */
   height: 25px; /* Slider handle height */
   background: #04AA6D; /* Green background */
   cursor: pointer; /* Cursor on hover */
 }

 .text {
    position: absolute;
    color: black;
 }