@font-face {
  font-family: "Hershey";
  src: url("assets/Hershey-Noailles-Times-Duplex-Italic-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
   font-family: "DotGothic";
   src: url("assets/DotGothic16-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
 }

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  /* overflow: none; */
}


.main-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(120, 120, 120);
}

#mainContainer2 {
   position: relative;
   width: 100vw;
   pointer-events: none;
 }

#logo {
  width: 80vw;
  position: fixed;
  top: 28%;
  left: 49%;
  transform: translate(-55%, -50%);
  z-index: 1;
   pointer-events: none;
}

#logo img {
  width: 100%;
  height: 100%;
}

.timeBox {
  font-family: "DotGothic";
  font-size: 2rem;
  color: rgb(165, 17, 17);
  position: fixed;
  top:55%;
  left: 50%;
  transform: translate(-50%, 90%);
  pointer-events: none;
}

.loadingVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}

.stillLoading {
   width: 100%;
   height: 100vh;
   overflow: none;
}

.loaded {
   width: 100%;
   height: auto;
}

.loading {
   display: flex;
   position: absolute;
   top: 85%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.a,
.b,
.c {
  width: 15px;
  height: 15px;
  margin: 10px;
  background-color: rgb(165, 17, 17);
}

.a {
  animation: anim1 1s linear infinite;
}

.b {
  animation: anim2 1s linear infinite;
}

.c {
  animation: anim3 1s linear infinite;
}

@keyframes anim1 {
  0%,
  50%,
  75%,
  100% {
    transform: scale(0.4);
  }
  25% {
    transform: scale(0.8);
  }
}

@keyframes anim2 {
  0%,
  25%,
  75%,
  100% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.8);
  }
}

@keyframes anim3 {
  0%,
  25%,
  50%,
  100% {
    transform: scale(0.4);
  }
  75% {
    transform: scale(0.8);
  }
}

button {
  /* background-color: rgba(165, 17, 17, 0.735); */
  /* background-color: rgb(134, 230, 129,0.735); */
  z-index: 2;
  outline: none;
}

.enter {
  width: 8vw;
  background-color: rgb(134, 230, 129,0.735);
  color: rgb(120, 120, 120);
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "DotGothic";
}

.subtitle {
  font-family: "DotGothic";
  top: 10%;
  left: 10%;
  color: rgb(134, 230, 129,0.735);
  font-size: 2rem;
}


.openInfo {
   width: 40vw;
   height: 45vh;
   /* background-color: rgb(0, 0, 0); */
   /* border-radius: 20px; */
   position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.close {
   display: none;
}

.invisible {
   opacity: 0;
}

.openInfo p {
   font-size: 1.2rem;
   font-family: 'Hershey';
   font-weight: bold;
   /* color: rgb(17, 0, 128); */
   color: rgb(134, 230, 129,0.735);
   line-height: 1.7;
}

.navData {
   width: 100vw;
   height: 100vh;
   opacity: 0;
   display: none;
   pointer-events: none;
}

.Xaxis {
   width: 90vw;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   display: flex;
   margin: auto;
   justify-content: space-between;
   pointer-events: none;
   
}

.Xaxis p {
   color: rgb(134, 230, 129,0.735);
   font-family: "DotGothic";
}

.Yaxis {
   height: 90vh;
   position: fixed;
   top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   pointer-events: none;
}

.Yaxis p {
   color: rgb(134, 230, 129,0.735);
   font-family: "DotGothic";
}

.label {
   position: fixed;
   top: 89vh;
   left: 65vw;
   width: 30%;
   opacity: 0;
   z-index: 2;
   display: flex;
   justify-content: space-between;
   color: rgb(134, 230, 129,0.735);
   font-family: "DotGothic";
}

.sliderContainer {
   position: fixed;
   top: 92vh;
   left: 65vw;
   width: 30%;
   opacity: 0;
   z-index: 2;
}

 .text {
    position: absolute;
    color: black;
    width: 10vw;
    font-size: 1rem;
    font-family: 'Hershey';
    pointer-events: all;
 }

 .text:hover {
    cursor: pointer;
    color: white;
    z-index: 2;
 }

 .clickable {
    cursor: pointer;
 }

 .text-container {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    /* display: inline-block; */
 }

 .textbox {
    display: inline-block;
    font-size: 1.5rem;
    padding: 2rem 1.8rem;
    max-width: 36vw;
   background-color: rgba(0, 0, 0, 1);
   color: white;
   font-family: 'Hershey';
   pointer-events: all;
 }

 input[type=range] {
   width: 60%;
   margin: 8.3px 0;
   background-color: transparent;
   -webkit-appearance: none;
 }
 input[type=range]:focus {
   outline: none;
 }
 input[type=range]::-webkit-slider-runnable-track {
   background: rgba(255, 255, 255, 0.5);
   border: 0.2px solid #010101;
   border-radius: 1.3px;
   width: 100%;
   height: 8.4px;
   cursor: pointer;
 }
 input[type=range]::-webkit-slider-thumb {
   margin-top: -8.5px;
   width: 24px;
   height: 25px;
   background: rgba(134, 230, 129, 1);
   border: 1px solid #000000;
   cursor: pointer;
   -webkit-appearance: none;
 }
 input[type=range]:focus::-webkit-slider-runnable-track {
   background: #ffffff;
 }
 input[type=range]::-moz-range-track {
   background: rgba(255, 255, 255, 0.5);
   border: 0.2px solid #010101;
   border-radius: 1.3px;
   width: 100%;
   height: 8.4px;
   cursor: pointer;
 }
 input[type=range]::-moz-range-thumb {
   width: 24px;
   height: 25px;
   background: rgba(134, 230, 129, 1);
   border: 1px solid #000000;
   cursor: pointer;
 }
 input[type=range]::-ms-track {
   background: transparent;
   border-color: transparent;
   border-width: 9.3px 0;
   color: transparent;
   width: 100%;
   height: 8.4px;
   cursor: pointer;
 }
 input[type=range]::-ms-fill-lower {
   background: #f2f2f2;
   border: 0.2px solid #010101;
   border-radius: 2.6px;
 }
 input[type=range]::-ms-fill-upper {
   background: rgba(255, 255, 255, 0.5);
   border: 0.2px solid #010101;
   border-radius: 2.6px;
 }
 input[type=range]::-ms-thumb {
   width: 24px;
   height: 25px;
   background: rgba(134, 230, 129, 1);
   border: 1px solid #000000;
   cursor: pointer;
   margin-top: 0px;
   /*Needed to keep the Edge thumb centred*/
 }
 input[type=range]:focus::-ms-fill-lower {
   background: rgba(255, 255, 255, 0.5);
 }
 input[type=range]:focus::-ms-fill-upper {
   background: #ffffff;
 }
 /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
 how to remove the virtical space around the range input in IE*/
 @supports (-ms-ime-align:auto) {
   /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
   input[type=range] {
     margin: 0;
     /*Edge starts the margin from the thumb, not the track as other browsers do*/
   }
 }

 input[type=range] {
   width: 100%;
   margin: 8.3px 0;
   background-color: transparent;
   -webkit-appearance: none;
 }
 input[type=range]:focus {
   outline: none;
 }
 input[type=range]::-webkit-slider-runnable-track {
   background: rgba(255, 255, 255, 0.5);
   border: 0.2px solid #010101;
   border-radius: 1.3px;
   width: 100%;
   height: 8.4px;
   cursor: pointer;
 }
 input[type=range]::-webkit-slider-thumb {
   margin-top: -8.5px;
   width: 24px;
   height: 25px;
   background: rgba(134, 230, 129, 1);
   border: 1px solid #000000;
   cursor: pointer;
   -webkit-appearance: none;
 }
 input[type=range]:focus::-webkit-slider-runnable-track {
   background: #ffffff;
 }
 input[type=range]::-moz-range-track {
   background: rgba(255, 255, 255, 0.5);
   border: 0.2px solid #010101;
   border-radius: 1.3px;
   width: 100%;
   height: 8.4px;
   cursor: pointer;
 }
 input[type=range]::-moz-range-thumb {
   width: 24px;
   height: 25px;
   background: rgba(134, 230, 129, 1);
   border: 1px solid #000000;
   cursor: pointer;
 }
 input[type=range]::-ms-track {
   background: transparent;
   border-color: transparent;
   border-width: 9.3px 0;
   color: transparent;
   width: 100%;
   height: 8.4px;
   cursor: pointer;
 }
 input[type=range]::-ms-fill-lower {
   background: #f2f2f2;
   border: 0.2px solid #010101;
   border-radius: 2.6px;
 }
 input[type=range]::-ms-fill-upper {
   background: rgba(255, 255, 255, 0.5);
   border: 0.2px solid #010101;
   border-radius: 2.6px;
 }
 input[type=range]::-ms-thumb {
   width: 24px;
   height: 25px;
   background: rgba(134, 230, 129, 1);
   border: 1px solid #000000;
   cursor: pointer;
   margin-top: 0px;
   /*Needed to keep the Edge thumb centred*/
 }
 input[type=range]:focus::-ms-fill-lower {
   background: rgba(255, 255, 255, 0.5);
 }
 input[type=range]:focus::-ms-fill-upper {
   background: #ffffff;
 }
 /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
 how to remove the virtical space around the range input in IE*/
 @supports (-ms-ime-align:auto) {
   /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
   input[type=range] {
     margin: 0;
     /*Edge starts the margin from the thumb, not the track as other browsers do*/
   }
 }
 